In [23]:
## finding the list datatype by using the type function
## type() used to find the datatype
lst=[]
print(type(lst))

<class 'list'>

In [24]:
## printing the values within the list
names=["sri","sruthi",1,2,3]
print(names)

['sri', 'sruthi', 1, 2, 3]

In [25]:
#acessing the values through index from the forword and backword
f=["apple","banana","cherry","guva"]
print(f[0])
print(f[-1])
print(f[1:])
print(f[1:3])
print(f[-1:-3])
f[1:]="water melon"
print(f)

apple
guva
['banana', 'cherry', 'guva']
['banana', 'cherry']
[]
['apple', 'w', 'a', 't', 'e', 'r', ' ', 'm', 'e', 'l', 'o', 'n']

In [26]:
#modying list
print(f)

['apple', 'w', 'a', 't', 'e', 'r', ' ', 'm', 'e', 'l', 'o', 'n']

In [27]:
#list methods
## append()= add the value at the end of the list
f=["grapes","orange","guva","banana"]
f.append("pine apple")
print(f)

['grapes', 'orange', 'guva', 'banana', 'pine apple']

In [18]:
#pop()=this method remove the last value
pop_f=f.pop()
print(pop_f)
print(f)

pine apple
['grapes', 'orange', 'guva', 'banana']

In [28]:
#index = finding the index of the particular value
i=f.index("orange")
print(i)

1

In [29]:
#insert and count
## insert()= used to insert the value new value for the list already which is present
## count()= used to the number times the particular value or word is present in the string
f.insert(2,"banana")
print(f.count("banana"))

2

In [36]:
##slicing list
num=[1,2,3,4,5,6,7,8,9]
print(num[2:5])
print(num[:5])
print(num[5:])
print(num[::2])
print(num[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9]
[1, 3, 5, 7, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [37]:
#iterating the list one by one by the end of the list
n1=[1,2,3,4,5,6,7,8,9]
for n in n1:
    print(n)

1
2
3
4
5
6
7
8
9

In [38]:
#iterating from index
## iterating from index shows that the for which index the what value is present
for index,n in enumerate(n1):
    print(index,n)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9

In [39]:
# list compresion used to reduce the length of the code
lst=[]
for x in range(10):
    lst.append(x**2)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [40]:
## this may be helps to reduce the code and everything in the single line
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [41]:
 ## printing it
square=[num**2 for num in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [42]:
## list comprehension with condition
lst=[]
for i in range(10):
    if i%2==0:
        lst.append(i)
print(lst)

[0, 2, 4, 6, 8]

In [43]:
## condition comprehension
even_num=[num for num in range(10) if num%2==0]
print(even_num)

[0, 2, 4, 6, 8]

In [44]:
## nested list comprehension
l1=[1,2,3,4]
l2=['a','b','c','d']
pair=[[i,j] for i in l1 for j in l2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [45]:
## lists comprehension with function call
words=["hello","world","python","list","comprehension"]
lengths=[len(word) for word in words]
print(lengths)

[5, 5, 6, 4, 13]

In [46]:
## create a set
s={1,2,3,4,5}
print(s)

{1, 2, 3, 4, 5}

In [47]:
## set example
empty_set=set()
print(type(empty_set))

<class 'set'>

In [48]:
## set not allows the duplictes
s={1,2,3,3,4,5,1,2}
print(s)

{1, 2, 3, 4, 5}

In [49]:
## set operations
## add and remove
s.add(6)
print(s)

{1, 2, 3, 4, 5, 6}

In [50]:
## this will removes the particular given value
s.remove(4)
print(s)

{1, 2, 3, 5, 6}

In [52]:
## dicard is used if the not prsent element in list we want to remove it we use discard
s.discard(11)
print(s)

{1, 2, 3, 5, 6}

In [53]:
## pop method removes the first elsment
r=s.pop()
print(r)
print(s)

1
{2, 3, 5, 6}

In [54]:
## clear all elements
s.clear()
print(s)

set()

In [56]:
## membership test
s={1,2,3,4,5}
print(3 in s)
print(10 in s)

True
False

In [62]:
## mathematical operations
## union
## intersection
set1={1,2,3,4,5}
set2={4,5,6,9,10}
union_s=set1.union(set2)
int_set=set1.intersection(set2)
print(union_s)
print(int_set)
set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 9, 10}
{4, 5}
{4, 5}

In [71]:
## difference methods gives the differnece the values from the s1 set
s1={1,2,3,4,5}
s2={4,5,6,7,8}
print(s1.difference(s2))

{1, 2, 3}

In [72]:
#symetric differnce+ gives the dissimilar values from the both s1 and s2
s1.symmetric_difference(set2)

{1, 2, 3, 6, 9, 10}

In [77]:
## set methods
s1={1,2,3}
s2={4,5,6}
s3={2,3}
print(s1.issubset(s3))
print(s1.issubset(s2))
print(s1.issuperset(s2))
print(s1.issuperset(s3))

False
False
False
True

In [78]:
##counting unique words in text
text="In th classes im learning python"
words=text.split()
unique_words=set(words)
print(unique_words)
print(len(unique_words))

{'classes', 'python', 'im', 'In', 'th', 'learning'}
6