In [1]:
## Declaring ans assiging a variable
age=32
height=6.1
name="sruthi"
print("age:",age)
print("height",height)
print("name",name)

age: 32
height 6.1
name sruthi

In [5]:
## naming conversion
frst_n="sruthi"
last_n="reddy"
print(frst_n)
print(last_n)

sruthi
reddy

In [7]:
## type checking and type conversion
h=3.5
k=int(h)
print(type(h))
print(type(k))
print(k)

<class 'float'>
<class 'int'>
3

In [8]:
## converting from string to int
age='32'
print(type(int(age)))

<class 'int'>

In [9]:
name="sruthi"
print(int(name))

ValueError: invalid literal for int() with base 10: 'sruthi'

In [10]:
## Dynamic typing
v=10
print(v,type(v))
v="hi"
print(v,type(v))
v=3.2
print(v,type(v))

10 <class 'int'>
hi <class 'str'>
3.2 <class 'float'>

In [14]:
## input
age=int(input("what is the age"))
print(age,type(age))

what is the age 23

23 <class 'int'>

In [15]:
## simple calucation
n1=int(input())
n2=float(input())
s=n1+n2
d=n1-n2
m=n1*n2
d=n1/n2
print("sum",s)
print("sub",d)
print("mul",m)
print("div",d)

 3
 4.5

sum 7.5
sub 0.6666666666666666
mul 13.5
div 0.6666666666666666